/* You can add global styles to this file, and also import other style files */


body{
    font-size: 70px;
    color:white;
    margin:0;
    border:border-box;
    background-color: rgb(199, 13, 44);

}


